<!DOCTYPE html>
<html>
  <head>
    <title>Mysimpleapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm rounded">
    <a class="navbar-brand" href="#">SQUARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ml-5">
          <a class="nav-link  border-primary" href="#">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 rounded-pill d-none d-sm-block" type="text" placeholder="Search">
      </form>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="download.jpeg" class="rounded-circle mr-5"
              style="width:30px; height:30px;" alt=""> </a>
        </li>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary rounded-pill btn-sm"><%= link_to("Create new user", new_user_path, :class => 'back-link')%></button>
        </li>
      </ul>
    </div>
  </nav>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <p id="copyright"> &copy;something.com</p>
    </div>

  </body>
</html>
