<%= link_to("<< Back to List", post_messege_contents_path, :class => 'back-link')%>

<div class="subjects new">
  <h2>Edit replay</h2>
  <%= form_for(@messages) do |f| %>
    
  <!-- alternative and discribtive way to write the above code is "form_for(@subject, :url => subjects_path, :method=> 'post' ) do |f| %>-->
    <table summary="Subject form fields">
  
    <tr>
      <th>post</th>
      <td><%= f.text_area(:content, :size => 40*10) %></td>
    </tr>
  </table>

  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.hidden_field :user_id, :value => @post.user_id %>
  <div class="form-bottons">
    <%=f.submit("Reply")%>
  </div>
  <%end%>
</div>
